.b-humancells__title
{
    font-weight: bold;

    white-space: nowrap;

    padding:   3px 5px 0 5px;
    margin:    0 15px 0 0;
    overflow:  hidden;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}