.b-humancells_are_ready .b-humancells__head
{
    position: absolute;
    top:      0;
    left:     0;

    table-layout: fixed;
}

.b-humancells_are_ready .b-humancells__body
{
    position: relative;

    table-layout: fixed;

    border-top-width: 0;
}

.b-humancells_are_ready .b-humancells__aside
{
    position: absolute;
    top:      0;
    left:     0;

    table-layout: fixed;
}