.b-humancells_are_ready .b-humancells__head
{
    position: absolute;
    top:      0;
    left:     0;
    z-index:  2;

    table-layout: fixed;
}

.b-humancells_are_ready .b-humancells__body
{
    position: relative;

    table-layout: fixed;

    border-top-width: 0;
}

.b-humancells_are_ready .b-humancells__raws
{
    display: none;
}