@import "_are/b-cells_are_ready.css";
@import "body/b-cells__body.css";
@import "cell/b-cells__cell.css";
@import "head/b-cells__head.css";
@import "sort/b-cells__sort.css";
@import "input/b-cells__input.css";
@import "title/b-cells__title.css";
@import "total/b-cells__total.css";


.b-cells
{
    font-family: Arial, Verdana, sans-serif;

    position: relative;

    color: #333;
}