@import "_are/b-humancells_are_ready.css";
@import "body/b-humancells__body.css";
@import "head/b-humancells__head.css";
@import "sort/b-humancells__sort.css";
@import "input/b-humancells__input.css";
@import "title/b-humancells__title.css";
@import "total/b-humancells__total.css";


.b-humancells
{
    font-family: Arial, Verdana, sans-serif;

    position: relative;

    color: #333;
}