.b-humancells__sort
{
    position: relative;

    height: 0;
}

.b-humancells__sort .b-humancells__asc,
.b-humancells__sort .b-humancells__desc
{
    cursor:   pointer;
    position: absolute;
    right:    5px;

    width:  7px;
    height: 4px;

    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAANElEQVR42nWOsQ0AMAjD+lP+vy1FHTCUdvAQOREs24kkB5m7AGQXFBCTs/oV3jevhyjUvAGlb2OdaiEXlwAAAABJRU5ErkJggg==');
}

.b-humancells__sort .b-humancells__asc
{
    top: 8px;

    background-position: 0 -3px;
}

.b-humancells__sort .b-humancells__desc
{
    top: 2px;
}